
.detailsFilm img {
    width: 100%;
}

.content {
    background: #f5f5f5;
}

.contenuFilm h1 {
    font-size: 30px;
    margin-top: 0px;
    color: #2e3e53;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    padding: 0 5px;
}

.rating {
    font-size: 20px;
    text-align: right
}

.contenuFilm {
    padding: 10px;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}
 