<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedItem">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="selectedItem" >{{selectedItem.Title}}</ion-title>
    <ion-buttons end>
      <button ion-button color="white" (click)="favorite(selectedItem.imdbID)">
        <ion-icon name="heart"  *ngIf="isFavorite" color='danger' ></ion-icon>
        <ion-icon name="heart"  *ngIf="!isFavorite" ></ion-icon>
      </button>
  </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
    <div *ngIf="selectedItem">
        <ion-grid>
          <ion-row class="detailsFilm">
            <ion-col col-12>
                <img src="{{selectedItem.Poster}}" alt="">
            </ion-col>
            <ion-col col-12 class="text-center">
                <span class="rating">{{selectedItem.imdbRating}}/10 </span>
                <span class="votes">{{selectedItem.imdbVotes}} votes</span>
            </ion-col>
            <ion-col col-12 class="contenuFilm">
                <h1>{{selectedItem.Title}}</h1>
                <p><strong>Genre : </strong>{{selectedItem.Genre}}</p>
                <p class="text-justify"><strong>Description : </strong>{{selectedItem.Plot}}</p>
                <p><strong>Date de création : </strong>{{selectedItem.Released}}</p>
                <p><strong>Directeur : </strong>{{selectedItem.Director}}</p>
                <p><strong>Production :</strong> {{selectedItem.Production}}</p>
                <p><strong>Durée : </strong>{{selectedItem.Runtime}}</p>
                <p><strong>Recommendation : </strong>{{selectedItem.Rated}}</p>
                <p><strong>Acteurs : </strong>{{selectedItem.Actors}}</p>
                <p><strong>Nomination : </strong>{{selectedItem.Awards}}</p>
                <p *ngIf="selectedItem.Website != 'N/A'"><strong>Site web : </strong>{{selectedItem.Website}}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
</ion-content>
